@{
    Layout = "_Layout";
    ViewData["Title"] = "Create Permision";
}
@model WebApplication.Models.Permission
@section custom_style{
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/select2/select2.css" />
    <link type="text/css" rel="stylesheet" href="/vendors/bootstrap-datepicker/css/datepicker.css">
}

@section custom_script{
    <script type="text/javascript" src="/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/assets/global/plugins/select2/select2.min.js"></script>
    <script src="/js/jquery.inputmask.bundle.min.js"></script>

    <script>
        $(document).ready(function () {
            $(":input").inputmask();
        });
    </script>
}

<h3 class="page-title">
    Create<small>&nbsp;Permission for @ViewData["username"]</small>
</h3>
<!-- END PAGE HEADER-->
<div class="row center">
    <div class="col-md-12 center">
        <!-- BEGIN VALIDATION STATES-->
        <form asp-controller="Permission" asp-action="Store" method="post" enctype="multipart/form-data">
            <div class="portlet box blue">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="form-body">                        
                        <div class="row">
                            <input asp-for="Username" value="@ViewData["username"]" />
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Roler<span class="require">*</span></label>
                                    <input asp-for="Roler" class="form-control" />
                                    <span asp-validation-for="Roler" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Index</label>
                                    <input name="index" id="index" class="form-control">
                                    <span asp-validation-for="Index" class="text-danger"></span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- END FORM-->
                </div>
            </div>
            <div style="text-align: center">
                <a asp-controller="Permission" asp-action="Index" class="btn btn-danger"><i class="fa fa-reply"></i>&nbsp;Back</a>
                <button type="reset" class="btn btn-default"><i class="fa fa-refresh"></i>&nbsp;Refresh</button>
                <button type="submit" class="btn green"><i class="fa fa-check"></i>&nbsp;Create</button>
            </div>
        </form>
        <!-- END VALIDATION STATES-->
    </div>
</div>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

