@{
    ViewData["Title"] = "Home";
}
@using Microsoft.AspNetCore.Http;

<h3 class="page-title">
    Supports<small></small>
</h3>
<div class="row">
    <div class="col-md-12">
        <div class="well">
            <p>
                Web application là một ứng dụng chạy trên web thực hiện một số chức năng cơ bản như chia sẻ hình ảnh, tính toán, mua sắm… mà bạn có thể dễ dàng tiếp cận thông qua intranet hay Internet. ... Web app có nhiều chức năng và tính tương thích cao hơn so với website.
            </p>
            @Context.Session.GetString("SsAdmin")            
        </div>
    </div>
</div>
