@{
    ViewData["Title"] = "Home";
}
@using Microsoft.AspNetCore.Http;

<h3 class="page-title">
    Supports<small></small>
</h3>
<div class="row">
    <div class="col-md-12">
        <div class="well">
           
            @Context.Session.GetString("SsAdmin")            
        </div>
    </div>
</div>
