@{
    ViewData["Title"] = "Home";
}

@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

<h3 class="page-title">
    Supports<small></small>
</h3>
<div class="row">
    <div class="well">
        <br />
        <h1>@HttpContextAccessor.HttpContext.Session.GetString("Name")</h1>
      
        @Helper_Funtions.TestStr()
        @*@Helper_Funtions.GetValueSession()*@
    </div>
</div>
